body{
    text-align: left center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 4;
    font-weight: 400;
    margin: 0;
    background: #2b5876;  
    background: -webkit-linear-gradient(to right, #e36634, #e6d81c);  
    background: linear-gradient(to right, #e36634, #e6d81c); 
}

p{
    text-align: left center;
    font-size: 30px;
    color: white;
    display: none;
}

h1{
    font-size: 5em;
    text-align: left center;
    color: black;
    background-color: linear-gradient(to right, #e36634, #e6d81c);;
    padding: 20px;
    
}

h3{
    
    text-align: left center;
    font-weight: 400;
    font-size: 20px;
}

button{
    padding: 0.6em 2em;
    margin-top: 20px;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    border: 0;
    outline: none;
}

input{
    font-size: 50px;
    border-radius:20px;
    outline: none;
    padding-left: 15px;
}

#title{
    font-weight: 700;
    font-size: 7rem;
    margin-bottom: 0;
    line-height: .8em;
}

#head{
    text-align: left center;
    background: linear-gradient(to right, #e36634, #e6d81c);
    color: #e36634;
    
}

#form{
    text-align: center;
    margin-top: 3%;
}

#image{
    background-color: #f2ff42;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 70px; 
    display: none;
    transition: background-color 0.2s;
    -webkit-transition:background-color 0.2s;
    -moz-transition:background-color 0.2s;
}



